body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  margin-bottom: 4rem;
}


/* .input-group {
  margin: 10px;
} */
form.container {
  text-align: center;
  margin: 10px;
}

header.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  padding: 32px;
  border-radius: 0;
  border-bottom: 5px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  width: 67px;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
  border: none;
}

#past {
  background-color: #d3d3d3;
  color: rgb(126, 125, 125);
}

#present {
  background-color: #ff6961;
  color: rgb(58, 58, 58);
}

#future {
  background-color: #77dd77;
  color: rgb(46, 46, 46);
}

#lockedBtn {
  border: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

#unlockedBtn {
  border: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 1px solid rgb(160, 72, 72);
  background-color: #ff6961;
  color: white;
}

#lockedBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
